<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href=	"/images/logoUno-TechStyle.png"
	/>

	<title>Tech Style </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<!-- Header -->
	
	<!-- /Header -->
<%- include('partials/header') %>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">


			<h2 class="products-title"><%= productos.nombre %></h2>


			<p class="product-detail-description">
				<a href="product-add.html">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">


					<img src="<%= productos.imagen %>" alt="<%= productos.nombre %>" class="product-detail-img">
					<p class="product-detail-description"> <%= productos.descripcion %> </p>


				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let i = 0; i < productos.comentarios.length; i++) { %>
							<article>
								<div class="data">
								<p class="user">
									<a href="/users/perfil/<%= productos.comentarios[i].usuario.id %>">
										<%= productos.comentarios[i].usuario.usuario %>
									</a>:
									<%= productos.comentarios[i].texto %>
								</p>
								</div>
							</article>
						<% } %>
					  </section>
					  
							<% if (locals.user != undefined) { %>
							<form action="/products/detalle/<%= productos.id %>/comentario" method="POST">
								<label for="comentario">Tu comentario:</label>
								<input type="text" id="comentario" name="texto" placeholder="Escribí tu comentario acá..." required>
								<button type="submit">Enviar comentario</button>
							</form>
							<% } else { %>
							<p><a href="/users/login">Iniciá sesión</a> para dejar tu comentario!</p>
							<% } %>


					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>	
</html>