<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href=	"/images/logoUno-TechStyle.png"
	/>

	<title> Tech Style </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->

		<h2>Resultados de búsqueda</h2>

			<% if (productos.length > 0) { %>
			<% for (let i = 0; i < productos.length; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
				  <section class="product-box">
					<a href="/products/detalle/<%= productos[i].id %>">
					  <figure class="product-box_image">
						<img src="<%= productos[i].imagen %>" alt="<%= productos[i].nombre %>">
					  </figure>
					  <article class="product-box_data">
						<h2><%= productos[i].nombre %></h2>
						<p><%= productos[i].descripcion %></p>
						<p>Comentarios: <%= productos[i].comentarios.length %></p>
					  </article>
					</a>
				  </section>
				</div>
				<div>
				<p>Publicado por:
					<a href="/users/profile/<%= productos[i].user.id %>">
					<%= productos[i].user.usuario %>
					</a>
				</p>
				</div>
			<% } %>
			<% } else { %>
			<p><%= mensaje %></p>
			<% } %>



	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>