<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href=	"/images/logoUno-TechStyle.png"
	/>

	<title> Tech Style </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<%- include('partials/headerLogueado')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<% if (resultados.length > 0) { %>
				<% for(let i = 0; i < resultados.length; i++) { %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/products/<%= resultados[i].id %>">
								<div class="product-box_image">
									<img src="<%= resultados[i].imagen %>" alt="<%= resultados[i].nombre %>">
								</div>
								<article class="product-box_data">
									<h2><%= resultados[i].nombre %></h2>
									<p class="product-detail-description"><%= resultados[i].descripcion %></p>
								</article>	
							</a>
						</section>
					</div>
					<% } %>
					<% } else { %>
						<div class="col-12">
							<p>No se encontraron productos que coincidan con su busqueda.</p>
						</div>
					<% } %>


	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>